.imagen-car {
  height: 350px;
  width: 250px;
}
.contenedor-autos{
  margin: 50px;
}

.card{
  border: 1px solid rgb(223, 0, 193) !important;
  border-radius: 1% !important;
  box-shadow: 10px 10px 10px #888888 !important; 
}

