.imagen-car {
  height: 350px;
  width: 250px;
}
.contenedor-autos{
  margin: 50px;
}
.card{
  border: 1px solid rgb(138, 99, 14) !important;
  border-radius: 1% !important;
  box-shadow: 10px 10px 10px #888888 !important; 
  background-color: #000000 !important;
  /* margin-bottom: 50px !important; */
  margin: 30px !important;
}
.nombre-auto{
  text-align: center;
  color: rgb(167, 124, 32);
  text-shadow: 1px 1px 2px #888888;
  font-family: 'Cinzel', serif;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.cuerpo-carta{
  align-self: center;
  text-align-last: center;
}
button a {
text-decoration: none !important;
color: rgb(77, 77, 77) !important;
font-family: 'Beau Rivage', cursive;
font-size: 20px !important;
font-weight: bold !important;
letter-spacing: 2px;
}
/* NavBar */
.contenedor-navbar{
 padding: 0px !important;
}
.hijo-navbar{
  background-color:rgb(167, 124, 32);
 }
.icono-navbar{
  font-family: 'Beau Rivage', cursive;
  font-size: 30px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}
/* Desplegable */
.linksNav{
  margin-bottom: 5%;
}
hr{
  color: rgb(226, 188, 15) !important;
}
.padre-desplegable{
  background-color: #000000 !important;
}
.cabezera-desplegable{
  padding-bottom: 0px !important;
  align-self: center;
  font-family:'Times New Roman', Times, serif;
  color: rgb(114, 112, 112) !important;
 
 
}
.pe-3 {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(114, 112, 112) !important;
    
}
.pe-3 a{
  text-decoration: none;
  text-align: center;
  color: rgb(167, 124, 32);
  text-shadow: 1px 1px 2px #888888;
  font-family: 'Cinzel', serif;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.pe-3 a:hover{
  color: #888888;
}
.d-flex{
  justify-content: center;
  padding-top: 10px;
}
.palabra-carrito{
  margin-top: 100px !important;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
    color: rgb(114, 112, 112) !important;
}
.carrito-desplegable{
  
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 2px #888888;
  font-family: 'Cinzel', serif;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.carrito-desplegable a{
  color: rgb(167, 124, 32);
  text-align: center;
  font-size: 20px;
  font-weight:bolder
}
.carrito-desplegable a:hover{
  color: #888888;
}
 /* Footer */
.contenedor-footer{
  background-color: #fffefe !important;
}
.hijo-footer{
  background-color:rgb(167, 124, 32);
  margin: 0% 0% 1% 8% !important;
  box-shadow: 10px 10px 10px #070707 !important; 
}
.icono-footer{
  font-family: 'Beau Rivage', cursive;
  font-size: 30px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}
/* Detalles del Producto */
.div-nombre{
    width: 500px !important;
    height: auto;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 2px !important;
    text-align: center;
    font-family: 'Cinzel';
    color: black;
    box-shadow: 10px 10px 10px #888888 !important;
}
.texto-carta{
  text-align-last: center;
}
.precio{
color: aliceblue;
font-family:'Times New Roman', Times, serif;
margin: 25px 25px;
}
.contador{
  color: aliceblue !important;
  
}
.estilo{
  font-family:'Cinzel', serif;
  color:aliceblue;
  margin: 25px 25px;
}
.stock{
  color: aliceblue;
  margin: 25px 25px;
}
.boton-volver{
  margin: 25px 25px;
  text-decoration: none !important;
  color: rgb(77, 77, 77) !important;
  font-family: 'Beau Rivage', cursive;
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.boton-agregar{
  margin-top: 20px;
  text-decoration: none !important;
  color: rgb(77, 77, 77) !important;
  font-family: 'Beau Rivage', cursive;
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.boton-detalle{
  text-decoration: none !important;
  color: rgb(77, 77, 77) !important;
  font-family: 'Beau Rivage', cursive;
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}
/* INPUTS */
input{
    width: 50%;
    padding: 10px 10px 10px 5px;
    border: none;
    resize: none;
    border-bottom: 1px solid;
    /* margin-top: 70px;
    margin-bottom: 15px;  */
}
input:focus{
    outline: none;
    color: rgb(167, 124, 32);
    -webkit-transition: 1s;
    transition: 1s;
}
.contenedor-inputs {
  text-align: -webkit-center;
  margin-bottom: 10%;
}
ul {
  list-style: none;
  text-align: center;
}

ul li {
  padding: 20px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.texto-datos{
  font-family: 'Cinzel';
  font-style: italic;
  font-size: x-large;
  font-weight: bolder;
  margin: 10% 0% 2% 0%;
}
.texto-carrito{
    font-family: 'Cinzel';
    margin: 2%;
    letter-spacing: 2px;
    font-size: xxx-large;
}
table {
  text-align: center !important;
  color: darkgoldenrod !important;
  font-family: 'Cinzel'!important;
}
.botonSubmit{
  width: 25%;
  font-family: 'Cinzel';
  border: none;
  resize: none;
  border-bottom: 1px solid;
  outline: none;
  background: white;
  font-weight: bold;
}
.botonSubmit:focus{
  outline: none;
    color: rgb(22, 207, 5);
    -webkit-transition: 1s;
    transition: 1s;
}

/* LOADER */
.divLoader{
    justify-content: center;
    text-align: -webkit-center;
}
.g-4{
    justify-content: center;
    text-align: -webkit-center;
    
}
